wsdlfirstws/src/main/resources/wsdl/CustomerOrders.wsdl.back

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:tns="http://trainings.ws.bharath.com/"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
					name="CustomerOrdersService" 
					targetNamespace="http://soap.ws.nolbu.com/">
	<wsdl:types>
		<xsd:schema 	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
						xmlns:tns="http://soap.ws.nolbu.com/" elementFormDefault="unqualified"
						targetNamespace="http://soap.ws.nolbu.com/" version="1.0">	
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer"/>
					<xsd:element name="product" type="tns:product" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0"/>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="quantity" type="xsd:integer" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
					<xsd:element name="order" type="tns:order"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xds:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean"/>
				</xsd:sequence>
			</xds:complexType>
			
			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest" />
			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse" />
			<xsd:element name="createOrdersRequest" type="tns:createOrdersRequest" />
			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getOrdersRequest">
		<wsdl:part name="parameters" element="tns:getOrdersRequest" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part name="parameters" element="tns:getOrdersResponse" />
	</wsdl:message>
	<wsdl:message name="createOrdersRequest">
		<wsdl:part name="parameters" element="tns:createOrdersRequest" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part name="parameters" element="tns:createOrdersResponse" />
	</wsdl:message>
	
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest"/>
			<wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse"/>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest"/>
			<wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="CustomerOrdersServiceSoapBinding" type="tns:CustomerOrdersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal"
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal"
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="CustomerOrdersServiceSoapBinding" name="CustomerOrdersPort">
			<soap:address location="http://localhost:8080/wsdlfirstws/services/customerOrdersService"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>